<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="MaConfig">
        <section name="MaSection" type="System.Configuration.DictionarySectionHandler" />
      </sectionGroup>
    </configSections>
    <MaConfig>
      <MaSection>
        <add key="artist" value="Sortido pict" />
        <add key="copyrights" value="sortidopict" />
        <add key="pathFolder" value="C:\_NICO\perso\winform\traiter" />
        <add key="pathNas" value="C:\_NICO\perso\winform\NAS" />
        <add key="pathExec" value="C:\_NICO\perso\winform" />
      </MaSection>
    </MaConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>